@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-contacto {
    @include m.tablet {
        @include m.grid(2, 1fr, v.$separacion);
        background-image: url(../img/granos_cafe.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 40%;

    }

    .formulario {
        .campo {
            margin-bottom: 2rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            label {
                text-transform: uppercase;
                display: block;
                font-size: 2rem;
                font-weight: 700;
            }

            input:not([type="submit"]),
            select {
                width: 100%;
                padding: 1rem;
                border: .5rem solid v.$colorPrimario;
            }

            input[type="submit"] {
                background-color: v.$colorPrimario;
                width: 100%;
                color: v.$colorBlanco;
                border: none;
                padding: 1rem;
                font-size: 2.2rem;
                font-weight: 700;
                text-transform: uppercase;
                transition: all 300ms;


                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    border-radius: 4rem 1rem;
                }
            }
        }
    }
}