@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos {
    margin-top: 6rem;

    .listado-iconos {

        @include m.tablet {
            @include m.grid(3, 1fr, 2rem);
        }

        li {

            img {
                margin: 0 auto;
                width: 12rem;
            }

            p {
                font-family: v.$fuenteCursiva;
                font-size: 3.2rem;
                color: v.$colorPrimario;
            }
        }
    }


}